<%- include('./partials/head') %>

  <main>

    <h1 class="titel">
      <%= squad.name %>
    </h1>

    <section class="overzichtspagina">

      <!-- Hier komen de members -->
      <% squad.members.forEach(member=> { %>

        <article>
          <div class="context">
            <% if (member.avatar) { %>

              <img class="avatar" src="<%= member.avatar %>" alt="De avatar van <%= member.name %>" />
              <% }else{ %>
                <img class="avatar" src="/placeholder.jpg" alt="Placeholder avatar" />
                <% } %>
                  <h2>
                    <%= member.name %>
                      <%= member.prefix %>
                        <%= member.surname %>
                  </h2>
          </div>
        </article>

        <% }) %>

    </section>

  </main>

  <%- include('./partials/foot') %>